img.card-img-top {
  max-height: 260px;
}

.row {
  margin-bottom: 20px;
}

.card {
  min-height: 100%;
  background-color: #1c1414;
  color: #ccae8b;
  margin: 20px;
  padding: 20px;
}

.col-md-12 {
  padding: 5px;
}

img.card-img-top.ruby {
  padding-right:50px;
  margin: 30px;
}

.topbox {
  background-image: url("../img/programming.jpg");
  color: #f4ad42;
  padding: 20px;
  margin: 20px;
  text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
  box-shadow: 10px 10px;
  border-radius: 36%;
}

body{
  background-color: #988074;
  align-items: center;
  padding: 5px;
}

#initial {
  font-size: 20px;
  font-family: monospace;
  color: #1c1414;
}

.row_q {
  font-size: 20px;
  font-family: monospace;
  color: #77161e;
}

.jumbotron {
  background-color: #d0873a;
  padding: 50px;
  margin-top: 100px;
  color: #1c1414;
  border-radius: 50%;
  display:none;
  box-shadow: 10px 10px;
}

#response {
  display:none;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 200px;
}

#submit {
  box-shadow: 10px 10px;
  margin: 50px;
  padding: 20px;
  border-radius: 50%;
}
